body {
  height: 100%;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.nav-item {
  color: #fff;
}

#page-content {
  flex: 1 0 auto;
  height: 100%;
  background-color: lightgray;
}
